<span>当前有$onemagictext $onemagiccount 个,$tenmagictext $tenmagiccount 个</span>
<div class="miner-image">
<div class="miner-buttons">
    <form id="miner-1" method="post">
        <input type="hidden" name="domine" value="1">
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <input type="submit" class="miner-start miner-start-1" value="挖矿一次"/>
    </form>
    <form id="miner-10" method="post">
        <input type="hidden" name="domine" value="2">
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <input type="submit" class="miner-start miner-start-10" value="挖矿十次"/>
    </form>
</div>
</div>
<div>$custom_html</div>